{% extends "base.html" %}
{% load static %}

{% block title %}
Einstellung
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'time_tracking/css/style.css' %}"/>
{% endblock %}

{% block body %}
<div class="new_project">
    <div class="form">
        <form method="POST"  class="register_form">
            {% csrf_token %}
            {{form.as_table}}
            <button type="submit">Enter</button>
            <p>Fertig? <a href="{% url 'time_tracking:input' %}">Zurück zur Zeiterfassung</a>
        </form>
    </div>
</div>
{% endblock %}
