{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
potatoesathome reset password confirm {{title}}
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/signin.css' %}"/>
{% endblock %}

{% block body %}

{% if validlink %}

<h3>Change password</h3>
<div class="form">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change password</button>
    </form>
</div>
{% else %}
<p>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
</p>
{% endif %}


{% endblock %}
