{% extends "base.html" %}
{% load static %}

{% block menu %}
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <ul class="avmenu">
            <li><a class="current" href="{% url 'home:menu' %}">Menu</a></li>
            <li><a href="{% url 'survey:survey' %}">Survey</a></li>
            <li><a href="#">DIQ</a></li>
            <li><a href="#">Analysis</a>
                <ul>
                    <li><a href="#">Technical Requirements</a></li>
                    <li><a href="#">Customer Relationship</a></li>
                    <li><a href="#">Productivity in Business</a></li>
                    <li><a href="#">Digital Business Model</a></li>
                </ul>
            </li>
            <li><a href="#">Recommendations</a></li>
            <li><a href="#">Roadmap</a></li>
            <li><a href="{% url 'home:logout' %}">Logout</a></li>
        </ul>
    </div>
    <span style="font-size:30px;cursor:pointer;color:#FFFFFF" onclick="openNav()">&#9776;</span>
{% endblock %}
{% block menu_script %}<script src="{% static 'js/menu.js' %}"></script>{% endblock %}